/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/09/2018, 09:37:11 AM
    Author     : Eduardo Salas Cerdas
*/

/**{
    -fx-text-fill:  #E0E0E0;
}*/

*{
    -fx-font-family: Roboto;
    /*clor de menu*/
    -fx-base-color-button: #E1F5FE;
    -fx-base-color-hover-button: #388E3C;
    -fx-base-color-focus-text-field: #FAFAFA;
    -fx-base-color-unfocus-text-field: #212121;
    -fx-base-color-text-fill: #FAFAFA;

}
/*parte de los menus*/ 
.jfx-button{
    -jfx-button-type: RAISED;
    -fx-background-color:-fx-base-color-button;
    -fx-background-radius: 10;
    -fx-content-display: left;
    /*    -fx-alignment: CENTER_LEFT;*/
    -fx-alignment: CENTER;
}
.jfx-button:hover{
    -fx-background-color: -fx-base-color-hover-button;

}
.AnchorPane-Login > ImageView{
    -fx-Image :url("../resources/icon.png")
}
.VBox-Login{-fx-background-color: #1E88E5BA;
            -fx-background-radius: 15;
}

.VBox-Registro{-fx-background-color: #009688BA;
            -fx-background-radius: 15;
}
.Label{
    -fx-text-fill: #FAFAFA;
    -fx-font-size: 20px;
}

.JFXTextField{
    -fx-font-size: 14px;
    -jfx-focus-color: -fx-base-color-focus-text-field;
    -jfx-unfocus-color: -fx-base-color-unfocus-text-field;
    -fx-background-color: -fx-base-color-text-fill ;
}